.filter_input {
  /* Override Bootstrap's default filer_input styles */
  border: 1px solid var(--input-border-color--); /* Use your preferred border color */
  border-radius: 6px;
  width: 100%;
}

/* Focus styles */
.filter_input:focus {
  box-shadow: none;
  outline: none; /* Remove default focus outline */
  border: 1px solid var(--input-border-color--); /* Change border color on focus */
}

.filter_input::placeholder {
  color: var(--input-text-color--);
  font-family: var(--font-family--);
  font-size: var(--font-14);
  font-weight: 400;
}

.filter_label {
  font-size: var(--font-14);
  color: var(--input-text-color--);
  font-weight: 400;
  font-family: var(--font-family--);
}
/* filter.module.css */
.filterRow {
  transition: max-height 0.6s ease-in-out;
  max-height: 300px; /* Adjust as needed */
  overflow: hidden;
}

.filterRowClosed {
  max-height: 0;
}

/* styles.module.css */

.options_container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
  width: 200px; /* Set width of options container */
  max-height: 200px; /* Set maximum height of options container */
  overflow-y: auto; /* Enable vertical scrolling */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

}

.checkbox_label {
  display: block;
  margin-bottom: 5px;
}

